    {% if not user.is_authenticated %}
        <nav class="container container--70">

            <ul class="nav--actions">
                <li><a href="{% url "login" %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a href="{% url "register" %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            </ul>
        </nav>
    {% endif %}
    {% if user.is_authenticated %}
      <nav class="container container--70">
            <ul class="nav--actions">
        <li class="logged-user">
            <a href="#">Witaj {{ user.first_name }} ! </a>
            <ul class="dropdown">
              <li><a href="{% url 'profile' %}">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </li>
            </ul>
      </nav>
    {% endif %}
    <ul>
      <a href="{% url "landing-page" %}" class="btn btn--without-border active">Start</a>
      <a href="{% url "landing-page" %}#steps" class="btn btn--without-border">O co chodzi?</a>
      <a href="{% url "landing-page" %}#about-us" class="btn btn--without-border">O nas</a>
      <a href="{% url "landing-page" %}#help" class="btn btn--without-border">Fundacje i organizacje</a>
      <a href="{% url  "add-donation" %}" class="btn btn--without-border">Przekaż dary</a>
      <a href="{% url "landing-page" %}#contact" class="btn btn--without-border">Kontakt</a>
    </ul>
