{% extends 'website/base.html' %}
{% load static %}

{% block title %}Confirm giving gifts{% endblock %}

{% block content %}
    <header class="header--form-page">
        {% include "website/navbar.html" %}

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>



    <script src="{% static "js/app.js" %}"></script>

{% endblock %}
